* {
box-sizing: border-box;
}

body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: #fafafa;
color: #212121;
line-height: 1.5;
}

#search-box {
font: inherit;
padding: 8px;
max-width: 320px;
margin-bottom: 16px;
}

img{
border:1px solid #1a1818;
border-radius: 5px;
}

ul {
display: flex;
flex-direction: column;
gap: 6px;
}

.country-list__deployed {
font-size: 40px;
font-weight: bold;
margin: 16px 0;
}

.country-item {
display: flex;
align-items: center;
gap: 10px;
list-style: none;
padding: 0;
margin: 0;
}

.country-info {
padding-left: 40px;
font-size: 18px;
font-weight: bold;
}

.country-info span {
font-weight: 400;
}